:root{
  /* --bg-primary : #6cbadf;
  --bg-secondary : #186b8f; */
  --bg-dark : #0d3b4c;
  --bg-white : rgb(245, 205, 205);
  --bg-secondary : #632525;
  --bg-success : #4caf50;
  --bg-danger : #f44336;
  --bg-warning : #ff9800;
  --text-dark : #000000;
  --text-white : #ffffff;  
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-white);
}
#header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-white);
  background-color: var(--bg-dark);
  padding: 30px;
  top: 0;
  position: sticky;
  z-index: 10 !important;
}

.call-us{
  width:20%;
  font-size: 20px;
}

.search-box{
  width: 60%;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 100%;
  height: auto;
  padding: 8px;
}

.social-media .icons-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-group .icons{
  margin:0 5px;
  color: var(--text-white);
  font-size:30px;
}

#nav{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-white);
  background-color: var(--bg-success);
  padding: 10px;
}

#nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#nav ul li{
  margin: 0 10px;
  font-size: 20px;
}

#nav ul li a{
  text-decoration: none;
  color: var(--text-white);
}

#slidebar{
  width: 20%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-danger);
}

#content{
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-warning);
}

#footer{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  background-color: var(--bg-secondary);
  padding: 20px;
  position: relative;
}